/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 body {
   background-color: lightblue;
 }*/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&display=swap');


* {
  font-family: 'Open Sans', sans-serif;
}


 h1, h2 {
   color: #4a79a4;
   text-align: center;
 }


 p, div {
   font-size: 20px;
 }


table, th, td {
  width: 90%;
  border: 2px solid #4b8cab;
  border-collapse: collapse;
  padding: 30px;
  margin: 20px;
  text-align: center;
  vertical-align: center;
  font-size: 16px;
  table-layout: fixed;
}

th, td {
  padding: 15px;
  height: 20px;
}

th {
  background-color: #4b8cab;
  color: white;
}

tr:nth-child(even) {
  background-color: #f0f6f9;
}

a:link {
  color: 	#4a79a4;
}

a:visited {
  color: 	#4b8cab;
}

a:hover {
  color: 	#515b68;
}

a:active {
  color: ;
}
