/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 body {
   background-color: lightblue;
 }*/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&display=swap');


* {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  align-items: center;
}


 h1, h2 {
   color: #4a79a4;
   text-align: center;
 }


 p, div {
   font-size: 16px;
 }

table, th, td {
  width: 95%;
  border: 2px solid #4b8cab;
  border-collapse: collapse;
  padding: 30px;
  margin: 20px;
  text-align: center;
  vertical-align: center;
  font-size: 16px;
  table-layout: fixed;
}

button {
  background: white;
  color: #4b8cab;
  border-radius: 4px;
  font-size: 18px;
  border: 2px solid #4a79a4;
}

form label {
  font-size: 20px;
}

th, td {
  padding: 15px;
  height: 20px;
}

th {
  background-color: #4b8cab;
  color: white;
}

tr:nth-child(even) {
  background-color: #f0f6f9;
}

ul, li {
  text-align: center;
  align-items: center;
  list-style: none;
}

a:link {
  color: 	#4a79a4;
}

a:visited {
  color: 	#4b8cab;
}

a:hover {
  color: 	#515b68;
}


nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  vertical-align: middle;
  margin: 20px;
  padding-top: 30px;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: #4a79a4;
}

nav a:hover {
  color: #515b68;
}

form {
   box-sizing: border-box;
   border: 2px solid #4a79a4;
   width: 50%;
   text-align: center;
   margin: auto;
   background-color: #f0f6f9;
 }

form input {
  padding: 8px;
  font-size: 16px;
  margin: 8px;
  color: #4b8cab;
  box-sizing: border-box;
  border: 2px solid #4a79a4;
  border-radius: 4px;
  background: white;
}

form select {
  padding: 8px;
  border: 2px solid #4a79a4;
  font-size: 14px;
  background-color: white;
}

form div {
  margin: 12px;
}
