<h1>Hello, User: <%= current_user.username %>!</h1>
<h2>Accounts</h2>

<table>
  <tr>
    <th>Account Name </th>
    <th>Balance </th>
  </tr>
  <% @accounts.each do |account| %>
    <tr>
      <td><%= link_to account.accountName, user_account_path(@user, account) %></td>
      <td><%= account.balance %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Create New Account", new_user_account_path(@user, @accounts) %></p>
